main {
  position: relative;
  margin-left: 230px;
  // padding: 100px 0;
  // background-color: $gold;

  section {
    height: 400px;
    width: 100%;
    background-color: $grey;
    margin-bottom: 40px;
    &:last-of-type { margin-bottom: 0; }
    &.one { background-color: $white3; }
    &.two { background-color: $white2; }
    &.thr { background-color: $white1; }
    &.for { background-color: $white; }
  }

  img {
    width: 100%;
    height: auto;
  }

  @include MQ(L) {
    margin-top: 60px;
    margin-left: 0;
  }
}
